<%- include('partials/header.ejs') %>
<form id="new-event" action="/user/event" method="POST">
    <label>Event Title:</label>
    <input type="text" name="title">
    <label>Start and end Dates</label>
    <input type="date" name="start">
    <input type="date" name="end">
    <select name="location">
        <option value="61030114814fff5e2a08e671">Nemesis Prime</option>
        <option value="61030114814fff5e2a08e672">OCP-Legionnaire</option>
        <option value="61030114814fff5e2a08e673">ForgeWorld Vulcario</option>
        <option value="61030114814fff5e2a08e674">Nemesis Secundus</option>
        <option value="61030114814fff5e2a08e675">Fortress Monasstary Testudo</option>
    </select>
    <input type="submit">
</form>
<%- include('partials/footer.ejs') %>