<%- include('partials/header.ejs') %>

    <div>  <i>Nemeroth.exe Online and operational</i> </div>
    <br>
    <div id='Intro'>Not from around here, huh? Unless you are, of course. My facial recogniton subroutines have been on the fritz, so if you could, please click the link below to remind me who you are. If you are new to Nemesis, there's two things you have to know about the spinward front; One; Nobody cares who you were back in the core systems. Forget your past, forget your name. An ID code will be issued to you automatically, this is how you will be known and monitored both in and out of the system. Two; We don't have recourses to spare on non-nessesities, so get used to roughing it out here with the rest of us.</div>
    
    <br>
        <nav>
            <% if (user) { %>
                <a href="/logout">Logout</a>
            <% } else { %>
                    <a href="/auth/google">Submit to DNA scan</a>
            <% } %>           
        </nav>
        
<%- include('partials/footer.ejs') %> 