<%- include('partials/header.ejs') %>
    Nemesis Online and operational
    <ul>
        <li>
            <% if (user) { %>
                <a href="/logout">Logout</a>
            <% } else { %>
                    <a href="/auth/google">Login with Google</a>
            <% } %>
        </li>
    </ul>

<%- include('partials/footer.ejs') %> 