<%- include('partials/header.ejs') %>

    <div>  <i>Online and operational</i> </div>
    
    <br>
        <nav>
            <% if (user) { %>
                <a href="/logout">Logout</a>
            <% } else { %>
                    <a href="/auth/google">Login with Google</a>
            <% } %>           
        </nav>
        
<%- include('partials/footer.ejs') %> 