<%- include('partials/header.ejs') %>
<div id='map-bg'>
<div id='align'>
<% location.forEach(l => { %>
    <div id='location'>
    <div id='name'><%= l.name %> </div>
    <div id='post'><%= l.post %> </div>
    </div>
<% }) %>
</div>
</div>
<%- include('partials/footer.ejs') %>