<%- include('partials/header.ejs') %>
<h1>this is where the location map will go</h1>

<% location.forEach(l => { %>
    <div><%= l.name %> </div>
    <div><%= l.post %> </div>
<% }) %>

<%- include('partials/footer.ejs') %>