<%- include('../partials/header.ejs') %>

<h1>Nemesis</h1>

<nav>
    <a href="/">Home</a>
    <% if (user) { %>
        <a href="/logout">Logout</a>
    <% } else { %>
            <a href="/auth/google">Login with Google</a>
    <% } %>
</nav>

    <style>
      #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: -2; right: 0; display: flex; width: 40rem; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #input { border: none; padding: 0 1rem; justify-content: center; flex-grow: 1; border-radius: 3rem; margin: 0.25rem; }
      #input:focus { outline: none; }
      #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages > li { padding: 0.5rem 1rem; }
      #messages > li:nth-child(odd) { background: #efefef; }
    </style>

    <ul id="messages"></ul>

    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>

       var socket = io();

        var form = document.getElementById('form');
        var input = document.getElementById('input');

        form.addEventListener('submit', function (e) {
            e.preventDefault();
            if (input.value) {
                socket.emit('chat message', input.value);
                input.value = '';
            }
        });

    </script>
    
  
<%- include('../partials/footer.ejs') %> 