<%- include('../partials/header.ejs') %>

<h1>Nemesis</h1>

<nav>
    <a href="/">Home</a>
    <% if (user) { %>
        <a href="/logout">Logout</a>
    <% } else { %>
            <a href="/auth/google">Login with Google</a>
    <% } %>
</nav>

    
    
  
<%- include('../partials/footer.ejs') %> 