#event-column {
 border:black solid 1px;
 width: 400px;
 max-height: 690px;
}

#event-tbl {
    display: inline-block;
    height:700;
    width: 400px;
}

#chat {
    display: flex;

}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 1;
    right: 0;
    display: flex;
    width: 40rem;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    justify-content: center;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40rem;
    max-height: 200px;
    overflow: auto;
    position: fixed;
    right: 0ex;
    bottom: 5.5vh;

}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}
#des {
    height: 120px;
    margin: auto 0;
}

#new-event {
    display: flex;
    flex-flow: column wrap;
    align-content:space-between;
    height: 400px;
    width: 100px;
}

.chat 

.orientation {
    display: inline;
    margin: auto;
}

.label {
    color: rgb(255, 174, 0);
}

tr.orientation th, tr.orientation td { display: block;   }

body {
    background-color: rgb(41, 141, 187);
    min-height: 750px;
    max-height: 1440px;
}

#NavBar {
    background-color: #0f661f;
}

#NavLink {
    margin: 1em;
    border: 0.5em, #000000, solid
}

#bg {
    background-image: url(https://mcdn.wallpapersafari.com/medium/13/78/3IKmHz.png);
    display: block;
    height: 50em;
    background-size: cover;
}

#Intro {
    color: #1bd63e;
    margin: .7em;
}

